.nav-cont{
    color: white;
    background-color: #1FDBD3;
    width:100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
}
.nav-left{
    color:white;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: start;
}
.nav-left>*{
    margin: 0 .5rem;
    font-size: 1.5rem;
}
h1{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.nav-right{
    width: 100%;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}
.nav-right>ul{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right>ul>li{
  color:white;
  list-style: none;
  padding: 0 .5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.nav-right>ul>li:hover{
    background-color: rgb(12, 77, 105);
}
.nav-right>ul>li>a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:760px){
     .nav-left .account{
         display: none;
     }
     .nav-right{
         display: none;
     }
     .nav-cont{
         justify-content: center;
         align-items: center;
     }
     .nav-left>*{
        margin: 0 .4rem;
        font-size: 1.5rem;
    }
    
    .nav-right{
        width: 100%;
        display: flex;
        flex-direction: row;
        float: right;
        justify-content: end;
        align-items: center;
        padding-right: 1rem;
    }
    .nav-right>ul{
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-right>ul>li{
      height: 1.8rem;
      color:white;
      list-style: none;
      padding: 0 .4rem;
      display: flex;
      align-items: center;
      font-size: 1rem;
    }
     
}